body {
  margin: 0;
  font-family: arial, sans-serif;
}

/* Style the header */
.header-title {
  padding: 15px;
  text-align: center;
  font-size: 40px;
  color: orange;
  font-weight: bold;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  /*border-radius:5px;*/
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
/*.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}*/

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar ul { 
  padding: 0;
  list-style-type: none; 
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  /*height: 1000px;
  height: 100%;*/
  
}

.sidebar a.router-link-active {
  background-color: #04AA6D;
  color: white;
}

.custom-actions button.ui.button {
    padding: 8px 8px;
}

.custom-actions button.ui.button > i.icon {
  margin: auto !important;
}

/*td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 1px;
}*/
td {
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
    max-width: 1px;
}

.textlines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fullwidth {
    display:inline-block;
    text-overflow:ellipsis;
    overflow:hidden;
    width: 100%;
}

.floatright {
	float: right;
}

.popover{
    max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}